<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:lang="http://www.springframework.org/schema/lang"
	xmlns:util="http://www.springframework.org/schema/util"	
	xsi:schemaLocation="
    http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
    http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.0.xsd
    http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.0.xsd
    http://www.springframework.org/schema/lang http://www.springframework.org/schema/lang/spring-lang-2.5.xsd
    http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-2.0.xsd">
	
	<bean id="eventRegistrationDetails" class="com.virginmoneygiving.integrationtests.webdriver.event.EventRegistrationDetails">
		<property name="eventBasicDetails.eventName" value="AUTO GENERATED EVENT THROUGH JUNIT" />
		<property name="eventBasicDetails.startDay" value="01" />
		<property name="eventBasicDetails.startMonth" value="01" />
		<property name="eventBasicDetails.startYear" value="2010" />		
		<property name="eventBasicDetails.locationCode" value="ALL" />
		<property name="eventBasicDetails.eventDescription" value="AUTO GENERATED EVENT THROUGH JUNIT" />
		<property name="eventBasicDetails.contactName" value="AUTO GENERATED" />
	</bean>

</beans>
