/*---[ Details ]---------------------------------------
Import Style Sheets
Client: Virgin Money Giving
Author: Soup
-------------------------------------------------------*/

/*
High Band Pass + Mac IE Ecscaped Closure Filters
http://centricle.com/ref/css/filters/
http://www.tantek.com/CSS/Examples/highpass.html
*/

/* \*/	
	@import "basic.css?\"\{";
	@import "screen.css";
/* */