<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:lang="http://www.springframework.org/schema/lang"
	xmlns:util="http://www.springframework.org/schema/util"	
	xsi:schemaLocation="
    http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
    http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.0.xsd
    http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.0.xsd
    http://www.springframework.org/schema/lang http://www.springframework.org/schema/lang/spring-lang-2.5.xsd
    http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-2.0.xsd">
	
	<bean id="paymentDetails" class="com.virginmoneygiving.integrationtests.webdriver.charity.PaymentDetails">
		<property name="amount" value="8" />
		<property name="cardType" value="" />
		<property name="cardHolderName" value="YogeshSa" />
		<property name="cardNumber" value="374245455400001" />		
		<property name="validFrom1" value="" />
		<property name="validFrom2" value="" />
		<property name="expiryDate1" value="12" />
		<property name="expiryDate2" value="09" />
		<property name="issueNumber" value="" />
		<property name="securityCode" value="5252" />
		<property name="addressLine1" value="11" />
		<property name="addressLine2" value="22" />
		<property name="county" value="Lancashire" />
		<property name="city" value="Vashi" />
		<property name="country" value="India" />
		<property name="houseName" value="11" />
		<property name="houseNumber" value="11" />
		<property name="postCode" value="NR1 4EJ" />
		<property name="email" value="yogesh.salunkhe@arrkgroup.com" />
		<property name="message" value="Test" />
	</bean>

</beans>
